.breadcrumb{
    list-style: none;
    display: flex;
    padding: 0;
    // width: 330px;
    // height: 19px;
    align-items: center;
    margin: 0;
    padding-top: rem(10);
}
.breadcrumb__item{
  text-transform: capitalize;
  font-size: 12px;
  line-height: 2.42;
  > a{
      color: $light-blue;
    }
    &--active{
      color: $color-secondary;
  }
}
.breadcrumb__item+.breadcrumb__item::before {
    display: inline-flex;
    padding-right: .5rem;
    padding-left: .5rem;
    color: $dark-grey;
    content: ">";
}

.page-title {
  justify-content: space-between;
  flex-wrap: wrap;
  @media (min-width:576px) {
    display: flex;
  }
  // align-items: center;
  // padding-bottom: rem(10);
  &--lg-pad{
    padding: rem(40) 0 rem(24) 0;
  }

  &--bottom-pad {
    padding-bottom: rem(20);
  }
}

.page-title__header {
  font-size: rem(25);
  //line-height: 0.73;
  color: $dark-blue;
  @media (min-width: 1023.98px) {
    width: 43%;
  }
  &--bottom{
    margin-bottom: 20px;
  }
}

.page-title__second-head {
  font-size: rem(25);
  color: $color-primary1;
  font-weight: normal;
  margin-top: 57px;
  margin-bottom: rem(13);
}

.page-title__p {
  font-size: rem(15);
  color: $dark-grey;
  margin-bottom: rem(20);
  @media (min-width: 1023.98px) {
    line-height: 4.3;
  }
  & > span {
    color: $color-primary1;
  }
}

.breadcrumb-text {
  text-align: right;
  font-size: rem(15);
  color: $dark-grey;
}