.blocks{
    padding: 0 30px;
    margin-top: 15px;
    &--top{
        margin-top: 50px;
    }
}

.blocks-end{
    display: flex;
    justify-content: flex-end;
}

.calendar-block__head{
    color: $color-text;
    font-size: rem(15);
}

.calendar-block__num{
    color: $color-primary1;
    font-size: rem(25);
    font-weight: bold;
}

.calendar-block__icon{
    color: $color-green;
    font-size: rem(13);
    font-weight: bold;
}

.calendar-block__info{
    color: $color-text;
    font-size: rem(12);
}