.blocks{
    padding: 0;
    margin-top: 15px;
    &--top{
        margin-top: 50px;
    }
    @include breakpoint(mid) {
        padding:0 33px; 
    }
}

.blocks-end{
    display: flex;
    justify-content: flex-end;
}

.calendar-block__head{
    color: $color-text;
    font-size: rem(15);
}

.calendar-block__num{
    color: $color-primary1;
    font-size: rem(23);
    font-weight: bold;
}

.calendar-block__icon{
    color: $color-green;
    font-size: rem(12);
    font-weight: bold;
}

.calendar-block__info{
    color: $color-text;
    font-size: rem(12);
}