
.icon2 {
    display: inline-flex;
    padding-right: 10px;
    border-radius: 50%;
    @include transition();

    > svg {
        fill: #00d508;
        width: 24px;
        height: 24px;
    }

}

.icon-pdf {
    cursor: pointer;

    > svg {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

}

.icon-add {
    cursor: pointer;
    display: inline-flex;
    // padding: $icons-padding;
    border-radius: 50%;
    padding: 8px;
    @include transition();

  &:hover {
    background: #f7f7f7;
  }
  &:active {
    background: #e1e1e1;
  }
    @include transition();

    > svg {
        fill: #414141;
        width: rem(23);
        height: rem(23);
    }
}

.icon-edit {
  cursor: pointer;
  padding: 10px 11px 5px 11px;
  border-radius: 50%;
  @include transition();

  &:hover {
    background: #f7f7f7;
  }
  &:active {
    background: #e1e1e1;
  }
  
  > svg {
    width: rem(18);
    height: rem(18);
    fill:none;
    stroke:#414141;
    stroke-miterlimit:10;
    stroke-width:2px
  }
}

.icon-add2 {
    cursor: pointer;
    // display: inline-flex;
    // padding: $icons-padding;
    border-radius: 50%;
    @include transition();
    background: #175eb6;
    width: rem(22);
    height: rem(22);
    line-height: rem(30);
    text-align: center;
    > svg {
        fill: #17acf8;
        width: rem(17.6);
        height: rem(17.6);
        // border-radius: 50%;
    }
}

.icon-camera {
    cursor: pointer;
    // display: inline-flex;
    // padding: $icons-padding;
    border-radius: 50%;
    // @include transition();
    background: #fc1298;
    box-shadow: 0 4px 11px 0 rgba(105, 105, 105, 0.35);
    width: rem(67);
    height: rem(67);
    line-height: rem(77);
    text-align: center;
    > svg {
        // fill: #fc1298;
        // border-radius: 50%;
        // margin: 25px;
        width: rem(27);
        height: rem(22);
    }
}

.download-icon-wrapper,
.upload-icon-wrapper {
    height: rem(150);
    display: flex;
    @media (min-width:576px) {
        text-align: center;
        width: 240px;
    }
    // padding-top: 45px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid 1px #fc1298;
    margin-top: 35px;
    margin-bottom: 35px;
}

.download-icon {
    cursor: pointer;
    // margin: 0 90px 45px;
    >svg{
        fill: #fc1298;
    }
}

.upload-icon-wrapper {
    border: solid 1px #0595ff;
}

.upload-icon {
    cursor: pointer;
    // margin: 0 90px 45px;
    >svg{
        fill: #0595ff;
    }
}

.download-icon-text, {
    text-align: center;
    // margin-top: 45px;
    font-size: 14px;
    // padding: 0 30px;
}

.width-180 {
    width: 180px;
}

.add-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.add-icon-text {
    color: #17acf8;
    margin-left: 10px;
}

// .profile-camera-icon {

//   // >svg {
    
//   //   .cls-1{fill:#fc1298}.cls-2{opacity:.305;fill:url(#linear-gradient)}.cls-3,.cls-5{fill:#fff}.cls-4,.cls-5{stroke:none}.cls-6{filter:url(#Ellipse_19)}
//   // }
// }