.panel {
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.11);
  padding: rem(20) rem(10);
  @media (min-width: 768px) {
    padding: rem(20) rem(35);
  }
  margin-bottom: rem(37);
  &--radius{
    border-radius: 8px;
  }
}

.panel__breif {
  font-size: 15px;
  line-height: 1.67;
  color: #606060;
  margin-top: 15px;
  margin-bottom: 10px;
}

// .panel__content {
//   width: 86px;
//   height: 33px;
//   font-size: 25px;
//   font-weight: bold;
//   line-height: 1.32;
//   color: $color-blue;
//   margin: 5px 0px;
// }


.panel__wrapper2 {
  margin-bottom: rem(20);
  @media (min-width:576px) {
    display: flex;
  }
}

.panel__wrapper3 {
  @media (min-width:576px) {
    display: flex;
  }
}

.text-center {
  text-align: center;
}

.panel__image {
  width: 40px;
  height: 40px;
  border: solid 2px #17acf8;
  margin-right: 16px;
  border-radius: 50%;
}

.panel__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: rem(15);
  margin-bottom: rem(18);
}

.panel__header-btns {
  @media (max-width: 420px) {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
  }
}

.fs-31 {
  font-size: 31px;
}

.fs-25 {
  font-size: 25px;
}

.clr-blue {
  color: #0595ff;
}

.panel__title {
  // line-height: .8;
  font-weight: normal;
  color: $color-primary1;
  &--blue{
    color: $color-light-blue;
    font-weight: normal;
  }
}


.panel__title--md {
  font-size: rem(25);
}

.panel__procedure-list {
  margin-top: rem(35);
}

.procedure-item {
  // height: rem(60);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // align-items: center;
  padding: rem(10) rem(30);
  font-size: rem(16);
  color: $dark-grey;
  margin-bottom: rem(17);

  @media (min-width: 1024px) {
    padding: rem(15) rem(90) rem(15) rem(15);
  }
}

.panel__sub-title {
  margin: 10px 0;
  font-size: rem(17);
}

.procedure-item__name {
  display: flex;
  align-items: center;
  @media (max-width: 576px) {
    width: 100%;
    justify-content: center;
    margin-bottom: rem(10);
  }
  @media (min-width: 577px) {
    width: 35%;
  }
}

.procedure-item__tag {
  width: rem(19);
  height: rem(19);
  border-radius: 3px;
  border: solid 1px $color-grey;
  margin-right: rem(17);
}

.procedure-item__tag--pink {
  background: $color-primary1;
  border: none;
}

.procedure-item__price {
  border-bottom: 1px solid #b1b1b1;
}

.procedure-item__price--pink {
  border-bottom: 1px solid $color-primary1;
  color: $color-primary1;
}

.header-panels {
  justify-content: space-between;
  font-size: rem(14);
  color: #606060;
  margin-bottom: rem(20);
  @media (min-width:768px) {
    display: flex;
  }

  & .panel {
    @media (min-width:768px) {
      width: 31%;
    }
  }
}

.header-panels--md {
  margin-bottom: 0;
  @media (min-width:992px) {
    width: 80%;
  }

}

.calendar-panel__bookings {
  font-size: rem(25);
  color: $light-blue;
  font-weight: bold;
  margin-bottom: 5px;
}

.calendar-panel__percentage {
  font-size: rem(12);
  font-weight: bold;
  color: $color-green;
}

.wallet-panel__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wallet-panel {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
  padding-left: rem(17);
}

.wallet-panel__revenue {
  font-size: rem(25);
  color: $dark-blue;
  font-weight: bold;
}

.wallet-panel__percentage {
  font-size: rem(12);
  font-weight: bold;
  color: $color-red;
}

.heart-panel__number {
  font-size: rem(25);
  color: $color-primary1;
  font-weight: bold;
}


.panel-form {
  width: 540px;
  height: 40px;
}

.form-select {
  display: block;
  width: 540px;
  height: 3.125rem;
  padding: 0 1.25rem;
  border-radius: 2.1875rem;
  border: solid 1px #c4c4c4;
  background: #fff;
  margin-bottom: 20px;
}

.form-title {
  margin-top: 25px;
  margin-bottom: 5px;
}

.panel-title {
  margin: 0 0 20px;
}

.last-2panels {
  display: flex;
  justify-content: space-between;
}


#splineChart {
  width: rem(1163);
  height: rem(240);
}

#doughnutChart {
  width: rem(470);
  height: rem(180);
}

.panel-doughnut {
  width: 100%;
  margin-top: rem(20);
  padding: rem(15);
  color: $dark-grey;
  @include breakpoint(large){
    width: 47.8%;
  }
}

.panel-doughnut__add {
  margin-top: rem(10);
  font-size: rem(70);
  color: $color-primary1;
}

.panel-doughnut__remove {
  margin-top: rem(10);
  font-size: rem(70);
  color: $color-red;
}
.panel__action {
    color: $color-light-blue;
    font-size: 15px;
    line-height: 1.2;
}

.panel__rating {
  font-family: SourceSansPro;
  font-size: 15px;
  color: #606060;
}

.panel__rating-wrapper {
  margin-left: auto;
  margin-right: 50px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.margin {
  margin-right: 40px;
}

.panel__content-container {
  padding-right: 50px;
}

.panel-rating {
  margin: 12px 0px;
  text-transform: capitalize;
}

.panel-image2 {
  width: rem(80);
  height: rem(80);
  border-radius: 50%; 
}

.panel-icon {
  width: 16px;
  height: 16px;
  fill: $color-primary1;
  margin: 10px 10px;;
}

.panel__content-wrapper {
  width: 100%;
  @media (min-width:600px) {
    margin-left: 40px;
  }
}

.panel__content-wrapper2 {
  width: 100%;
}

.panel__title2 {
  color: $color-primary1;
  font-size: 27px;
  font-weight: bold;
  width: 260px;
}

.panel__breif2 {
  font-size: rem(19);
  line-height: 2;
  color: $light-blue;
  width: 260px;
}

.text2 {
  // height: 21px;
  font-size: rem(13.7);
  // font-weight: bold;
  // font-style: normal;
  // font-stretch: normal;
  line-height: 2;
  // letter-spacing: normal;
  // text-align: left;
  color: $color-primary1;
  // margin-left: 40px;
}

.wrapper3 {
  display: flex;
  margin-bottom: rem(8);
}

.md-text {
  text-align: center
}

.wrapper4 {
  display: flex;
  align-items: center;
  margin-bottom: rem(27);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// h3 {
//   height: 41px;
//   font-size: 31px;
//   font-weight: normal;
//   line-height: 0.94;
//   color: #fc1298;
//   margin: 40px 0 10px;
// }

.panel-title-2 {
  font-size: 23px;
  font-weight: bold;
  line-height: 2.3;
  color: $dark-grey;
}

.text {
  // margin-bottom: 5px;
  color: $dark-grey;
  line-height: 2.3;
  font-size: rem(14);
}

.text1 {
  font-size: rem(14.3);
  width: 130px;
  line-height: 2;
}
.text__1 {
  font-size: rem(15);
}

.text__2 {
  // margin: 0;
  font-size: rem(15.4);
  width: 155px;
  // line-height: .5;
}

.brief2 {
  // padding: 0 115px;
  margin-left: 100px;
  font-size: rem(14);
}

.header-wrapper3 {
  display: flex;
  align-items: center;
}

.wrapper-input {
  display: flex;
}

.panel-text {
  font-size: rem(17);
  line-height: 1.38;
  color: $dark-grey;
}

.panel__wrapper {
  @media (min-width:768px) {
    display: flex;
  }
  //align-items: center;
}

// .panel+.panel {
//   margin-top: 28px;
// }

// .empty-dashboard{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .empty-dashboard__message {
//   width: 711px;
//   font-family: Roboto;
//   font-size: 21px;
//   text-align: center;
//   color: #414141;
//   margin-bottom: 80px;
// }

// .button-content {
//   font-family: SourceSansPro;
//   font-size: 20px;
//   color: #ffffff;
// }


.text-edit {
  display: flex;
  align-items: center;
  justify-content: start;
  width: auto;
  p{
    margin-right: 20px;
  }
}