.slice-model{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
    margin-bottom: rem(43);
    padding: 8px 0 8px 24px;
    height: rem(69);
}

.slice-model__pic{
    margin-right: 24px;
    margin-top: -30px;
    width: rem(63);
    height: rem(63);
}

.slice-model__body-head{
    font-size: rem(16);
    color: $color-text;
    text-transform: capitalize;
}

.slice-model-flex{
    display: flex;
    flex-wrap: nowrap;
    svg{
        fill: $color-light;
        margin-right: 8px;
        width: rem(19);
        height: rem(19);
    }
}

.slice-model__body-info{
    color: $color-light;
    font-size: rem(12);
    line-height: 2;
}