.slice-model{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 53px;
    padding: 8px 0 8px 24px;
    height: 70px;
}

.slice-model__pic{
    margin-right: 24px;
    margin-top: -30px;
}

.slice-model__body-head{
    font-size: rem(18);
    color: $color-text;
    text-transform: capitalize;
}

.slice-model-flex{
    display: flex;
    flex-wrap: nowrap;
    svg{
        fill: $color-light;
        margin-right: 8px;
    }
}

.slice-model__body-info{
    color: $color-light;
    font-size: rem(12);
    line-height: 2;
}