.socials-bar{
    padding: 0;
    list-style: none;
    display: flex;
    margin-right: #{-$icons-padding};
    margin-left: #{-$icons-padding};
}

.socials-bar__item{
    +.socials-bar__item{
        @supports (margin-inline-start: 10px) {
            margin-inline-start: $icons-padding;
        }
        @supports not (margin-inline-start: 10px) {
            margin-#{$left}: $icons-padding;
        }
    }
}

.brief {
    font-family: Roboto;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #414141;
    margin-top: 110px;
    @media (min-width:768px) {
        width: 710px;
    }
}