
*,
*::before,
*::after {
  box-sizing: border-box;
}

//
// Remove default margin.
//
body {
  margin: 0;
  background: $body-bg-color;
}

// HTML5 display definitions
// ==========================================================================

//
// Correct `block` display not defined for any HTML5 element in IE 8/9.
// Correct `block` display not defined for `details` or `summary` in IE 10/11
// and Firefox.
// Correct `block` display not defined for `main` in IE 11.
//

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

//
// 1. Correct `inline-block` display not defined in IE 8/9.
// 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
//

// audio,
// canvas,
// progress,
// video {
//   display: inline-block; // 1
//   vertical-align: baseline; // 2
// }

//
// Prevent modern browsers from displaying `audio` without controls.
// Remove excess height in iOS 5 devices.
//

// audio:not([controls]) {
//   display: none;
//   height: 0;
// }

//
// Address `[hidden]` styling not present in IE 8/9/10.
// Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
//

// [hidden],
// template {
//   display: none;
// }

// Links
// ==========================================================================

//
// Remove the gray background color from active links in IE 10.
//

a {
  background-color: transparent;
  text-decoration: underline;
  color: $dark-grey;
  &:hover {
    color: $light-blue;
  }
}

//
// Improve readability of focused elements when they are also in an
// active/hover state.
//

// a:active,
// a:hover {
//   outline: 0;
// }


// sub,
// sup {
//   font-size: 75%;
//   line-height: 0;
//   position: relative;
//   vertical-align: baseline;
// }

// sup {
//   top: -0.5em;
// }

// sub {
//   bottom: -0.25em;
// }

// img {
//   border: 0;
// }


svg:not(:root) {
  overflow: hidden;
}

// Tables
// ==========================================================================

//
// Remove most spacing between table cells.
//

// table {
//   border-collapse: collapse;
//   border-spacing: 0;
// }

// td,
// th {
//   padding: 0;
// }




input,
textarea {
  outline: none;
}
textarea {
  resize: none;
}

// .row {
//   width: 100%;
//   margin: 0;
// }

button:focus {
  outline: none;
}

// select::-ms-expand {
//   display: none;
// }

select {
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // text-indent: 1px;
  // text-overflow: '';
  // background: transparent;
  // padding-right: 50px;
  // background: url(../src/images/down-arrow.svg)  no-repeat right 8% top 50%;
  // background-size: rem(17);

//   -webkit-appearance: none;
//    -moz-appearance: none;
//    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="5px" viewBox="7 10 10 5" version="1.1"> <polygon id="Shape" stroke="none" fill="%230" fill-rule="evenodd" opacity="0.54" points="7 10 12 15 17 10"/> </svg>') no-repeat calc(100% - 15px) center white;
//    padding:0 30px 0 15px;
}

select:focus {
  outline: none;
}
select:invalid {
  color: #495057;
}

li {
  list-style: none;
  display: inline-block;
  
  & > a {
    text-decoration: none;
  }
}

p,h2 {
  margin: 0;
}

// .container-fluid {
//   padding: 0 rem(70);
// }

.container-fluid {
  @include breakpoint (mid) {
    padding: 0 rem(70);
  }
}
// .container{
//   width: 100%;
//   padding-right: 10px;
//   padding-left: 10px;
//   margin-right: auto;
//   margin-left: auto;
//   display: block;
// }